:root {
  --font-family: "SF Pro Text",
    "SF Pro Icons",
    "Helvetica Neue",
    "Helvetica",
    "Arial",
    sans-serif;
  --deep-zibi: rgb(217, 255, 0);
  --deep-blue: rgb(49, 11, 218);
  --deep-red: rgb(239, 6, 72);
  --white: #fbfafa;
  --charcoal: rgb(45, 43, 43);
  --layout-guide-item: rgba(255, 89, 0, 0.975);
  --layout-guide-content: rgb(0, 183, 255);
}

h2 {
  color: #828225;
}

h3 {
  color: #b5b58a;
  ;
}

h4 {
  color: #6c6c5c;
  ;
}

h5 {
  color: #bfbf1b;
}

/* start design helpers */
/* .row {
  border: 3px solid green
}

.item {
  border: 1px dotted red;
}

.content {
  border: 1px dotted blue;
}

.card-content {
  border: 1px solid blue;
} */

/* end design helpers */

.container {
  width: 100%;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.item.intro.filters { /*this one*/
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}

.item {
  box-sizing: border-box;
  flex-grow: 0;
  flex-basis: 100%;
}

.content {
  flex-grow: 0;
  flex-basis: 100%;
  box-sizing: border-box;
  padding: 10px;
}

.content .content {
  padding: 0;
}

.item.control.label {
  flex-basis: 70%;
}

.item.control.input {
  width: 150px;
}

.control-container .content {
  background-color: none;
  color: #a1a12a;
  /* margin: 0 8px; */
}

.item.control-container {
  display: flex;
}

/* adjustments for medium screens, like some tablets or landscape on a mobile */
@media (min-width: 576px) {
  .item.control-container {
    flex-basis: 50%;
  }

  .item.control {
    flex-basis: 50%;
  }
  .item.intro.filters {
    flex-basis: 50%;
  }
}

/* adjustments for medium-large screens, like some tablets */
@media (min-width: 768px) {

  .item.navbar-logo,
  .item.navbar-menu {
    flex-basis: 50%;
  }

  .item.card {
    flex-basis: 50%;
  }

  .item.intro {
    flex-basis: 50%;
  }
  .item.intro.filters {
    flex-basis: 50%;
  }

}

/* adjustments for large screens, like laptops and desktops */
@media (min-width: 992px) {
  .container {
    width: 992px;
    margin: 0 auto;
  }

  .item.card {
    flex-basis: 33.33333333333333333333333333333333333%;
  }
  .item.intro.filters {
    flex-basis: 33%;
  }

}

body {
  background-color: #ffffff;
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  color: #a1a12a;
}

a {
  color: var(--deep-blue);
}

input,
textarea,
button,
select {
  display: block;
  height: 2rem;
  width: 100%;
  margin: 0;
  padding: 0.25rem;
  border: 1px solid var(--charcoal);
  cursor: pointer;
}

textarea {
  height: 4rem;
}

button {
  height: 2.5rem;
}

form>* {
  margin-top: 1rem;
  margin-bottom: 1rem;
  box-sizing: border-box;
  font-family: var(--font-family);
}

.control select {
  max-width: 72px;
}

#navbar {
  display: flex;
  background-color: rgba(184, 184, 8, 0.731);
  color: var(--white);
  border-bottom: 4px solid purple;
}

h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: xx-large;
}

#navbar a {
  color: var(--white);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar-items {
  text-align: center;
  justify-content: space-between;
}

.navbar-menu ul {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  list-style-type: none;
}

.navbar-menu li {
  margin: 0 0.5rem;
}

.navbar-logo {
  display: flex;
  font-size: 2rem;
  font-weight: 700;
}

.navbar-logo a {
  color: var(--white);
  text-decoration: none;
}

.card-content {
  border-top: 4px solid purple;
  margin: 8px 8px 24px 8px;
}

.card-content img {
  height: 90px;
  width: 90px;
  vertical-align: middle;
  margin-top: 0px;
}

.card-content p {
  font-style: italic;
}

.card-content .card-title,
.card-content .card-image {
  margin-bottom: 24px;
}

.card-content .card-image {
  text-align: end;
}

.card-content table {
  width: 100%;
  font-size: 0.875rem;

}

.card-content table thead {
  font-weight: 700;
}

.card-content table td {
  width: 25%;
}

.card-content table td.loading {
  width: 100%;
}

.card-content table thead td {
  border-bottom: 2px solid var(--charcoal);
}

/* .card-content .item.card-title {
  flex-basis: 66.6666666666666667%;
} */

.card-content .item.card-image {
  flex-basis: 33.33333333333333333%;
}

#footer {
  display: flex;
  margin-top: auto;
  background-color: rgba(184, 184, 8, 0.731);
  color: var(--white);
  height: 200px;
  border-top: 4px solid purple;
}

.intro {
  font-size: 1.25rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}